.CategoryItems{
    width: 200px;
    border: 1px solid rgb(238, 238, 238);
    position: relative;
    .categoryItem{
        width: 200px;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        padding: 0.625rem;
        img{
            width: 25px;
            height: 25px;
        }
        p{
            margin-left: 0.625rem;
            color: rgb(102, 102, 102);
            cursor: pointer;
        }
    }
    .categoryItem:hover{
        background-color:  rgb(240, 240, 240);
        p{
            color: rgb(95, 0, 128);
            font-weight: 500;
        }
    }
    .categoryDetailModal{
            position: absolute;
            margin-left: 0.625rem;
            left: 100%;
            top: 0;
            width: 200px;
            height: 100%;
            // border: 1px solid black;
            background-color:  rgb(240, 240, 240);
            p{
                padding: 0.625rem;
            }
        }
}
